@import url(http://fonts.googleapis.com/css?family=Inconsolata);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: black;
}

.container {
	margin: 20px;
}

code, input[type=text] {
	font-size: 22px;
	color: green;
	font-family: 'Inconsolata', sans-serif;	
}

aside {
	color: green;
}

input[type=text] {
	outline: none;
	background: none;
	border: none;
	margin-left: 0;
}

