@import url(http://fonts.googleapis.com/css?family=VT323);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: black;
}

.container {
	margin: 20px;
}

code, input[type=text] {
	font-size: 22px;
	color: green;
	font-family: 'VT323', sans-serif;	
}

label[for=prompt] {
	margin-right: 8px;
}

input[type=text] {
	outline: none;
	background: none;
	border: none;
}